body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .brand {
    color: #fff;
    text-transform: uppercase;
  }
  
  .brand h1 {
    margin: 0;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    max-width:500px;
  }
  
  .search-bar input {
    padding: 5px;
    margin-right: 10px;
    width: 500px;
  }
  
  .search-bar button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .user-options {
    display: flex;
    align-items: center;
  }
  
  .login-button,.about,.Home,
  .signin-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
  }

  /* styling the image */

  .src{
      max-width: 40px;
  }

  .brand{
      font-size: larger;
      font-family: 'Dancing Script', cursive;
      font-weight:bolder;
      }